# Prueba del modelo para la estimación de la categoría humor

In [1]:
!pwd
import pandas as pd
import spacy

nlp = spacy.load("../training/model-best")

/Users/juliowaissman/Documents/proyectos/2021 PLN-Humor/es_humor/notebook

In [2]:
df_dev = pd.read_csv("../../data/haha_2021_dev.csv")

df_dev.head()

           id                                               text
0  tweet24001  Historia #36.\n*Entra corriendo y gritando al ...
1  tweet24002  estoy tomando helado en el centro y pedi tiram...
2  tweet24003  — ¿De 15 o 20 centímetros?\n\n— Ven y averígua...
3  tweet24004                                        Que fea soy
4  tweet24005  #OMG, VAMOS EN RETROCESO RESULTE CON 40 SEGUID...

In [8]:
doc = nlp(df_dev.text[10])
print(doc.cats)
print(doc.text)

{'humor': 0.9360994100570679, 'no_humor': 0.06390060484409332}
-¿Cómo te va en la clase de ortografía? -Vien vien, grasias... la berda no me puedo kejar.

In [9]:
docs = nlp.pipe(df_dev.text)
df_dev['humor'] = [doc.cats['humor'] for doc in docs]
df_dev['is_humor'] = 0
df_dev.is_humor[df_dev.humor > 0.5] = 1

<ipython-input-9-927e0d17e34f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dev.is_humor[df_dev.humor > 0.5] = 1

In [25]:
df_dev.head()

,id,text,is_humor,humor
0,tweet24001,Historia #36.\n*Entra corriendo y gritando al ...,0,0.384026
1,tweet24002,estoy tomando helado en el centro y pedi tiram...,0,0.117504
2,tweet24003,— ¿De 15 o 20 centímetros?\n\n— Ven y averígua...,1,0.954271
3,tweet24004,Que fea soy,0,0.003162
4,tweet24005,"#OMG, VAMOS EN RETROCESO RESULTE CON 40 SEGUID...",0,0.004559