# Prueba del modelo para la estimación de la categoría humor

In [5]:
!pwd
import pandas as pd
import spacy

nlp = spacy.load("../training/cnn/model-best")

/Users/juliowaissman/Documents/proyectos/2021 PLN-Humor/es_humor_cnn/notebooks

In [7]:
df_dev = pd.read_csv("../../data/haha_2021_dev.csv")

df_dev.head()

           id                                               text
0  tweet24001  Historia #36.\n*Entra corriendo y gritando al ...
1  tweet24002  estoy tomando helado en el centro y pedi tiram...
2  tweet24003  — ¿De 15 o 20 centímetros?\n\n— Ven y averígua...
3  tweet24004                                        Que fea soy
4  tweet24005  #OMG, VAMOS EN RETROCESO RESULTE CON 40 SEGUID...

In [18]:
docs = nlp.pipe(df_dev.text)
df_dev['humor'] = [1 if doc.cats['humor'] > 0.5 else 0 for doc in docs]

In [19]:
df_dev.head()

           id                                               text  humor
0  tweet24001  Historia #36.\n*Entra corriendo y gritando al ...      1
1  tweet24002  estoy tomando helado en el centro y pedi tiram...      0
2  tweet24003  — ¿De 15 o 20 centímetros?\n\n— Ven y averígua...      1
3  tweet24004                                        Que fea soy      0
4  tweet24005  #OMG, VAMOS EN RETROCESO RESULTE CON 40 SEGUID...      0